<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %> 
    <body>
        <%- include('./partials/header.ejs') %> 
        
        <main>
            <h1 class="titulo">Película Editada:  <%= movie.title %></h1>
            <section class="formulario">
                <form action="/actors/update/<%= movie.id %>" method="POST">
                    <label for="title">Title </label>
                    <p><input type="text" name="title" id="" value="<%= movie.title %>" required></p>
                    <label for="rating">Rating </label>
                    <p><input type="number" name="rating" id="" value="<%= movie.rating %>" required></p>
                    <label for="awards">Awards </label>
                    <p><input type="number" name="awards" id="" value="<%= movie.awards %>" required></p>
                    <label for="release_date">Release date </label>
                    <p>
                        <input type="date" name="release_date" id="" value="<%= moment(movie.release_date).format('YYYY-MM-DD')%>" required>
                    </p>
                    <label for="length">Length </label>
                    <p><input type="number" name="length" id="" value="<%= movie.length %>" required></p>
                    <label for="genre_id">Genre </label>
                    <p>
                        <select name="genre_id" id="" required>
                            <% allGenres.forEach(genre => { %>
                                <option value="<%= genre.id %>" <% if (movie.genre_id == genre.id) { %><%= 'selected' %><% }; %>><%= genre.name %></option>
                            <% }); %>
                        </select>
                    </p>
                    <br>
                    <p><button class="botonAgregar" type="submit">Actualizar</button>
                    <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
                </form>
            </section>
        </main>
    </body>
</html>